.container
  %h1.volume
    #{@volume}

  %div#volume-controls
    %a{ :href => '#', :id => 'increase-volume', :class => 'btn btn-primary btn-large' }
      %i{ :class => 'icon-volume-up' }
    %a{ :href => '#', :id => 'decrease-volume', :class => 'btn btn-primary btn-large' }
      %i{ :class => 'icon-volume-down' }
    <br/>
    %a{ :href => '#', :id => 'mute-volume',     :class => 'btn btn-primary btn-large' }
      %i{ :class => 'icon-volume-off' }

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  %div#controls
    %a{ :href => '#', :id => 'sleep',           :class => 'btn btn-danger btn-large' }
      %i{ :class => 'icon-off' }
